html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
